.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabView {
    ul {
        display: flex;
        justify-content: center;
    }
}

.google {
    background-color: #e94234;

    &:active,
    &:focus,
    &:hover {
        background-color: #e94234!important;
    }
}

.facebook {
    background-color: #0b8af0;

    &:active,
    &:focus,
    &:hover {
        background-color: #0b8af0!important;
    }
}
