.wrraper {
}

.title {
    font-size: 18px;
}

.acreage {
    color: var(--gray-700);
    font-weight: bold;
}
.price {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
}

.actionTop {
    display: flex;
    justify-content: flex-end;
}

.address {
    display: flex;
    align-items: center;
    color: var(--blue-500);
    cursor: pointer;
}
.detailDescription {
    margin-bottom: 15px;
    margin-top: 15px;
    border-top: 1px solid var(--gray-300);
}
.detailDescriptionHeader {
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.report {
    margin-top: 15px;
}

.breadcrumbWrapper {
    padding-top: 5px;
}

.breadcrumb {
    border-bottom: 1px solid var(--gray-200);
}

.breadcrumbContainer {
    border: 0;

    ul {
        background-color: initial;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0 15px;
        scrollbar-width: none;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }
        
        li {
            span {
                
            }
        }
    }
}

.route {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 769px) {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    a {
        font-weight: bold;
        padding: 5px 10px;
        position: relative;

        &:after {
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            content: "";
            display: block;
            position: absolute;
        }
    }
}

.routeWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.back {
    background-color: var(--gray-300);
    color: var(--gray-700);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    margin-right: 5px;

    &:after {
        left: -13px;
        border-color: transparent var(--gray-300) transparent transparent;
        border-width: 14px 13px 15px 0;
    }
}

.next {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    &:after {
        right: -13px;
        border-color: transparent transparent transparent var(--primary-color);
        border-width: 14px 0 15px 13px;
    }
}

.item {
    height: 450px;
    width: 100%;
    text-align: center;
    background-color: var(--gray-200);

    img {
        width: auto;
        max-height: 450px;
        min-height: auto;
        object-fit: cover;

        &:hover {
            cursor: zoom-in;
        }
    }
}

.container {
    .slick-track {
        height: 275px;
    }
}

.lightboxWrapper {
    display: none;
}

.labelMoreInfo {
    background-color: var(--gray-800);
    text-align: right;
    color: #ffffff;
    padding: 3px;
}

.btnWarning {
    border-color: var(--gray-500)!important;
    color: var(--text-color)!important;
}

.button {
    width: 100%;
    display: block;
}

.mapViewWrapper {
    height: 100%;
}

.leftStickWrapper {
    padding-top: 10px;
    position: sticky;
    top: 55px;
}

.userContainer {
    border-radius: 6px;
}

.userContent {
    padding: 10px;
}

.userName {
    font-size: 15px;
    font-weight: bold;
}

.userWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hasValidated {
    color: var(--blue-500);
}

.urlRecommendwrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid var(--gray-300) ;
}

.urlRecommendTitle {
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0;    
}

.urlRecommendTag {
    margin-top: 4px;
    padding: 4px 8px;
    background: #f0f2f5;
    border-radius: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3c4146;
    margin-right: 8px;
    display: inline-block;

    &:hover {
        color:var(--primary-color);
    }
}