.breadcrumb {
    border: 1px solid transparent;

    ul {
        li > a > span {
                color : var(--gray-600)!important;
        }
    }
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 96px;

    img {
        border-radius: 50%;
    }
}

.item {
    border-top: none;
    padding: 10px 0;
    display: table;
}

.itemLeft {
    margin-right: 12px;
    float: left;
    position: relative;
    width: 110px;
}

.itemRight{
     float: right;
     width: calc(100% - 130px);
}

.title {
    font-size: 15px;
    margin-bottom: 0;
}

.address {
    display: flex;
    align-items: center;
    color: var(--gray-600);
}

.itemList {
    > div {
        align-items: center;
        display: flex;
    }
}   

.user {
    display: flex;
    align-items: center;
}

.userVerified {
    color: var(--primary-color);
}

.wrapper {
    margin-top: 15px;
    button {
         span {
             font-weight: normal;
         }
    }
}

.child {
    padding-top: 0;
}

.right {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.itemWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemInfo {

}

.container {
    
}
.dropdownItem {
    width: 100%;
    border: 1px solid var(--gray-200);

    &:hover {
        border-color: var(--gray-300)!important;
    }
}

.filterWrapper {
    background-color: var(--gray-100);
    padding-top: 10px;
    position: sticky;
    top: 55px;
    z-index: 2;
    border-bottom: 1px solid var(--gray-200);

    @media screen and (max-width: 769px) {
        position: initial;
    }
}

.metaTitle {
    color: var(--primary-color);
    margin-top: 0;
}

.rightContainer {
}
.headerWrapper {
    padding: 5px 10px;

    h4 {
        margin: 5px 0;
    }
}

.contentWrapper {
    padding-left: 10px;
    margin: 0;
}

.rightCard {
    padding: 10px;
    border-radius: 6px;
}

.rightItem {
    padding-top: 5px;
    &:hover {
        color: var(--primary-color);
    }
}

.sperate {
    border-bottom: 1px solid var(--gray-100);
}

.rightButton {
    display: flex;
    justify-content: center;
    align-items: center;
}